# Ignore everything in this directory
 * 
# Except this file 
!.gitignore
/Dapper.LinqExtensions/.vs/
/Dapper.LinqExtensions/Dapper.LinqExtensions/bin/
/Dapper.LinqExtensions/Dapper.LinqExtensions/obj/
/Dapper.LinqExtensions/test/bin/
/Dapper.LinqExtensions/test/obj/
